@use "../abstracts/variables" as var;
@use "../base/typography" as typo;
.heading-1{
  font-family: typo.$font-secondary;
  font-weight: typo.$font-bold;
  font-size: 4rem;
  color: var.$color-green--dark;
  text-align: center;
}
.heading-2{
  font-size: 3.2rem;
  text-align: center;
  @media only screen and (max-width: var.$bp-small) {font-size: 2.8rem;}
}