@use "../abstracts/variables" as var;
.mobile-menu{
  z-index: 2;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 100%;
  visibility: hidden;
  background: linear-gradient(to right top, var.$color-green--light 0%, var.$color-green--dark 100%);
  width: 100%;
  padding: 9rem 0;
  border-radius: .25rem;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  &--active{
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  &__list{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  &__link{
    font-size: 2.2rem;
    color: var.$color-white;
    text-decoration: none;
    text-align: center;
    &.active{color: var.$color-green--light;}
  }
}