@use "../abstracts/variables" as var;
.mobile-menu-icon{
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  &__checkbox{display: none;}
  &__line{
    display: block;
    position: relative;
    width: 3rem;
    height: .5rem;
    background-color: var.$color-green;
    &::before,&::after{
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 3rem;
      height: .5rem;
      background-color: var.$color-green;
      transition: all .75s;
    }
    &::before{top: -1rem;}
    &::after{top:1rem;}
  }
  &__checkbox:checked + &__line{
    height: 0;
  }
  &__checkbox:checked + &__line::before{
    top: 0;
    transform: rotate(225deg);
  }
  &__checkbox:checked + &__line::after{
    top: 0;
    transform: rotate(-225deg);
  }

  @media only screen and (min-width: var.$bp-big){display: none;}
}