@use "../abstracts/variables" as var;
.organizer{
  width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;
  border: .25rem solid var.$color-green--light;
  border-radius: 5rem;
  box-shadow: 0 0 .1rem .25rem var.$color-green--light;
  @media only screen and (max-width: var.$bp-biggest){width: 60%;}
  @media only screen and (max-width: var.$bp-medium){width: 85%;}
  & > img{height: max( 8vw, 6rem);}
  &__links{
    display: flex;
    gap: min(4vw,2rem);
    & a img{height: clamp(4rem, 3.5vw, 6rem);}
  }
}