$color-green--light:#82E771;
$color-green:#476F61;
$color-green--dark:#013A1F;
$color-white:#fff;
$color-dark:#303A37;
$color-gray: #7d827d;

$bp-biggest:62.5em;//1000px
$bp-big:48em;//768px
$bp-medium:36em;//576px
$bp-small:28.125em;//450px