@use "../abstracts/variables" as var;
@use "../base/typography" as typo;
.main{
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: min-content repeat(4,min-content);
  @media only screen and (max-width: var.$bp-biggest){
    grid-template-rows: max-content repeat(4,min-content);
  }
  & .hero{
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 2.5fr;
    gap: 4rem;
    padding: 4rem 6rem;
    @media only screen and (max-width: var.$bp-biggest){
      grid-template-rows: 40rem min-content;
      grid-template-columns: 1fr;
      gap: 2rem;
    }
    @media only screen and (max-width: var.$bp-big){padding: 0 4rem 4rem 4rem;}
    @media only screen and (max-width: var.$bp-small){grid-template-rows: 25rem min-content;}
    &__illustrations{
      grid-column: 1 / 2;
      position: relative;
      @media only screen and (max-width: var.$bp-biggest){grid-row: 1 / 2;}
      & img{
        width: 100%;
        max-height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        @media only screen and (max-width: var.$bp-biggest){
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
        }
      }
    }
    &__content{
      grid-column: 2 / 3;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 4rem;
      color: var.$color-green;
      font-size: var.$font-size--general;
      @media only screen and (max-width: var.$bp-biggest){
        grid-row: 2 / 3;
        grid-column: 1 / -1;
        gap: 2rem;
        justify-content: center;
      }
      &--main{
        justify-self: start;
        line-height: 4.5rem;
        text-align: left;
        @media only screen and (max-width: var.$bp-small){line-height: 2.8rem;}
      }
      &--detail{
        font-weight: typo.$font-bold;
        font-size: clamp(1.3rem,1.2vw,2.3rem);
        text-align: right;
        line-height: 3.5rem;
        width: 75%;
        margin-left: auto;
        @media only screen and (max-width: var.$bp-small){
          line-height: 2.5rem;
          width: 100%;
          margin-left: 0;
        }
      }
    }
  }
  & .organizers{
    display: grid;
    grid-template-rows: min-content repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 5rem;
    grid-column-gap: 10rem;
    align-items: center;
    padding: 4rem 0;
    @media only screen and (max-width: var.$bp-biggest){
      grid-template-rows: min-content repeat(4,1fr);
      grid-template-columns: 1fr;
      gap: 2rem;
    }
    &__heading{
      grid-column: 1 / -1;
      justify-self: center;
    }
  }
  & .timeline{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 4rem 0;
    text-align: center;
    @media only screen and (max-width: var.$bp-small) {gap: 7rem;}
    &__nav{
      width: 100vw;
      height: 1rem;
      background-color: var.$color-green--light;
      &-list{
        list-style: none;
        display: grid;
        grid-template-columns: 5rem repeat(3,1fr) 5rem;
        transition: all 1s ease-in-out;
      }
      &-item{
        &:nth-of-type(1){grid-column: 2 / 3; justify-self: start;}
        &:nth-of-type(2){grid-column:3 / 4; justify-self:center;}
        &:nth-of-type(3){grid-column: 4 / 5; justify-self: end;}
        position: relative;
        cursor: pointer;
        margin-top: -1.5rem;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background-color: var.$color-green--light;
        transition: background-color .25s ease-in-out;
        & .date{
          position: absolute;
          top: -50%;
          left: 50%;
          translate: -50% -50%;
          font-size: 2rem;
          @media only screen and (max-width: var.$bp-small) {font-size: 1.6rem;}
        }
        &.active{
          &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: var.$color-white;
            translate: 50% 50%;
          }
        }
      }
    }
    &-plan{
      display:grid;
      grid-template-columns: 5rem repeat(3,1fr) 5rem ;
      transition: all 1s ease-in-out;
      @media only screen and (max-width: var.$bp-biggest){
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &__list{
        display: flex;
        flex-direction: column;
        gap: 5rem;
        list-style: none;
        transition: all .2s ease-in-out;
        &:nth-of-type(1){grid-column: 2 / 3; justify-self: start;}
        &:nth-of-type(2){grid-column:3 / 4;justify-self:center; margin-left: -2rem;}
        &:nth-of-type(3){grid-column: 4 / 5;justify-self: end;}
        &.passed {
          & .circle,.text{
            transition: background-color .2s ease-in-out;
            background-color: var.$color-gray;
          }
          @media only screen and (max-width: var.$bp-biggest){display: none;}
        }
        &.disabled{display: none;}
      }
      &__item{
        display: flex;
        gap: 1rem;
        align-items: center;
        & .circle{
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          background-color: var.$color-green--light;
        }
        & .hour{
          white-space: nowrap;
          font-size: 1.6rem;
          font-weight: typo.$font-bold;
        }
        & .text{
          margin-left: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 6rem;
          width: 25rem;
          border-radius: 2rem;
          background-color: var.$color-green--light;
          color: var.$color-white;
          font-size: 1.6rem;
        }
        @media only screen and (max-width: var.$bp-small){
          & .circle{width: 1.5rem; height: 1.5rem;}
          & .hour{font-size: 1.3rem; white-space:normal;}
          & .text{font-size: 1.4rem; width: 20rem; height: 5.5rem;}
        }
      }
    }
  }
}