@use "../base/typography" as typo;
@use "../abstracts/variables" as var;
.signup{
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  gap: 5rem;
  padding: 5rem 15rem;
  @media only screen and (max-width: var.$bp-biggest) {
    padding: 5rem;
    gap: 2.5rem;
  }
  @media only screen and (max-width: var.$bp-small) {
    padding: 2rem;
    gap: 2.5rem;
    display: flex;
    flex-direction: column;
  }
  &-form, & .contact{
    grid-column: 2 / 3;
    display:flex;
    flex-direction: column;
    gap: 2rem;
    & p{
      text-align: center;
      font-weight: typo.$font-bold;
      font-size: var.$font-size--general;
      line-height:min(4.5rem,6vw);
      color: var.$color-green;
      @media only screen and (max-width: var.$bp-small) {text-align: justify}
      & span{color: var.$color-green--dark;}
    }
    & button{
      cursor: pointer;
      width: 25rem;
      height: 5rem;
      align-self: center;
      border: .5rem solid var.$color-green--light;
      background-color: transparent;
      border-radius: .5rem;
      transition: all .25s ease-in-out ;
      & a{
        display: flex;
        justify-content: center;
        width: 100%;
        color: var.$color-dark;
        font-weight: typo.$font-bold;
        font-size: 1.8rem;
        text-decoration: none;
      }
      &:hover{transform: scale(1.05);}
    }
  }
  & .contact p span{display: flex;justify-content: center;}
  & .location{
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: 50rem;
    width: 100%;
    @media only screen and (max-width: var.$bp-medium) {
      flex-direction: column;
      align-items: center;
    }
    & .leaflet-container{
      height: 100%;
      width: 100%;
    }
    & .leaflet-popup-content-wrapper{font-size: 1.6rem;}
    &__info{
      display: flex;
      align-items: center;
      gap: 2rem;
      width: 100%;
      @media only screen and (max-width: var.$bp-big) {flex-direction: column;}
      &-heading{
        white-space: nowrap;
        font-weight: typo.$font-bold;
        font-size: 3rem;
        color: var.$color-dark;
        @media only screen and (max-width: var.$bp-medium) {font-size: 2.5rem}
      }
      & p{
        font-size: 1.8rem;
        line-height: 3rem;
        color: var.$color-dark;
        @media only screen and (max-width: var.$bp-medium) {font-size: 1.6rem;line-height: 2.5rem;}
        & span{color: var.$color-green;}
      }
    }
  }
}