@use "../abstracts/variables" as var;
@use "../base/typography" as typo;
.sponsors{
  padding: 4rem 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  @media only screen and (max-width: var.$bp-biggest) {padding: 4rem;}
  @media only screen and (max-width: var.$bp-small) {padding: 4rem 0;}
  &__heading{
    &--main{background: linear-gradient(to bottom, #99FA89,#7AE369,#00C667);}
    &--platin{background: linear-gradient(to bottom, #68F1C8,#00FFFF,#0020C6);}
    &--gold{background: linear-gradient(to bottom, #EAFD0C,#F1D368,#FFB800);}
    &--silver{background: linear-gradient(to bottom, #D9D9D9,#9C9AA0,#013A1F);}
    &--main,&--platin,&--gold,&--silver{
      font-size: 3.6rem;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      text-align: center;
      @media only screen and (max-width: var.$bp-small) {font-size: 3rem;}
    }
  }
  &__main, &__platin, &__gold, &__silver{
    width: 100%;
    display: grid;
    justify-content: center;
    gap: 4rem;
    grid-template-rows: repeat(auto-fit,min-content);
    grid-template-columns: repeat(auto-fit, minmax(40rem, max-content));
    @media only screen and (max-width: var.$bp-biggest) {
      grid-template-columns: repeat(auto-fit, minmax(30rem, max-content));
    }
  }
  &__main .sponsor{
    border: .25rem solid var.$color-green--light;
    box-shadow: 0 0 1rem .1rem var.$color-green--light;
  }
  &__platin .sponsor{
    border: .25rem solid #00FFFF;
    box-shadow: 0 0 1rem .1rem #00FFFF;
  }
  &__gold .sponsor{
    border: .25rem solid #EAFD0C;
    box-shadow: 0 0 1rem .1rem #EAFD0C;
  }
  &__silver .sponsor{
    border: .25rem solid #D9D9D9;
    box-shadow: 0 0 1rem .1rem #D9D9D9;
  }
}