@use "../abstracts/variables" as var;
@use "../base/typography" as typo;
.terms{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  &__content{
    padding: 5rem 15rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @media only screen and (max-width: var.$bp-medium) {padding: 5rem; gap: 2rem;}
    @media only screen and (max-width: var.$bp-small) {padding: 2.5rem;}
    & span{
      font-family: typo.$font-primary;
      font-weight: typo.$font-regular;
      font-size: clamp(1.8rem,1.8vw,3rem);
      line-height:min(4.5rem,6vw);
      color: var.$color-green;
      text-align: justify;
      @media only screen and (max-width: var.$bp-medium) {text-align: left}
    }
  }
}