@use "../abstracts/variables" as var;
.main{
  width: 100%;
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: min(60rem, 80vh) repeat(3,min-content) 95vh;
  @media only screen and (max-width: var.$bp-biggest){
    grid-template-rows: max-content repeat(3,min-content) 95vh;
  }
  & .hero{
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 2.5fr;
    gap: 4rem;
    padding: 3rem 6rem;
    @media only screen and (max-width: var.$bp-biggest){
      grid-template-rows: 40rem min-content;
      grid-template-columns: 1fr;
      gap: 2rem;
      padding: 4rem 12rem 4rem 12rem;
    }
    @media only screen and (max-width: var.$bp-big){padding: 4rem;}
    @media only screen and (max-width: var.$bp-small){grid-template-rows: 25rem min-content;}
    &__illustrations{
      grid-column: 1 / 2;
      position: relative;
      @media only screen and (max-width: var.$bp-biggest){grid-row: 1 / 2;}
      & img{
        width: 100%;
        max-height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        @media only screen and (max-width: var.$bp-biggest){left: 50%;translate: -50%;}
      }
    }
    &__content{
      grid-column: 2 / 3;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: var.$color-green;
      font-size: max(1.6rem,2vw);
      @media only screen and (max-width: var.$bp-biggest){
        grid-row: 2 / 3;
        grid-column: 1 / -1;
        gap: 2rem;
        justify-content: center;
      }
      &--main{
        justify-self: start;
        line-height: 4.5rem;
        text-align: left;
        @media only screen and (max-width: var.$bp-small){line-height: 2.8rem;}
      }
      &--detail{
        font-size: max(1.4rem,1.9vw);
        justify-self: end;
        text-align: right;
        line-height: 3.5rem;
        @media only screen and (max-width: var.$bp-small){line-height: 2.5rem;}
      }
    }
  }
  & .organizers{
    display: grid;
    grid-template-rows: min-content repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    gap: 5rem;
    justify-items: center;
    align-items: center;
    padding: 4rem 0;
    @media only screen and (max-width: var.$bp-biggest){
      grid-template-rows: min-content repeat(4,1fr);
      grid-template-columns: 1fr;
      gap: 2rem;
    }
    &__heading{
      grid-column: 1 / -1;
      justify-self: center;
    }
  }
  & .timeline{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 8rem 0 8rem;
    text-align: center;
  }
}